/* styles.css */
.main {
    background-image: url("img.jpg"); /* Update with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.css-1d391kg {
    padding: 0;
}
